/* Template: FlatBook | Author: eriktailor | Version: 1.0 */
/*--------------------------------------------------------*/

/*--------------------------------------------------------*/
/* # TURQUISE COLOR SKIN */
/*--------------------------------------------------------*/
p a, p a:visited {color: #FFC700;}

h2 {color: #FFC700;}

.menu li a:hover {color: #FFC700;}

.btn {background: #FFC700;}

.btn:hover {background: #A68200;}

.btn.grey {color: #FFC700;}

.btn.grey:hover {color: #FFC700;}

.section-title {color: #FFC700;}

.section-title-bullet {background: #FFC700;}

#header {background: #FFC700;}

.feature h2 {color: #FFC700;}

.price-table h3 {background: #FFC700;}

.contact-bar {background: #FFC700;}

.social-icons i {color: #FFC700;}

.social-icons i:hover {color: #A68200;}

.slimScrollBar {background: #FFC700 !important;}

.tablet-mockup-bg {background-color: #FFC700 !important;}












